.#{$prefix}flex {
  display:flex;

  @each $direction in (row, column) {
    &-#{$direction} {
      flex-direction: $direction;

      &-reverse {
        flex-direction: $direction + -reverse;
      }
    }
  }

  @each $value in (wrap, wrap-reverse, nowrap) {
    &-#{$value} {
      flex-wrap: $value;
    }
  }
}

$justifys-and-values: (
  (start, flex-start) 
  (end, flex-end)
  (center, center)
  (between, space-between)
  (around, space-around)
  (evenly, space-evenly)
) !default;

@each $justify, $value in $justifys-and-values {
  .#{$prefix}justify-#{$justify} {
    justify-content: $value;
  }
} 

$items-and-values: (
  (start, flex-start)
  (end, flex-end)
  (center, center)
  (baseline, baseline)
  (stretch, stretch)
) !default;

@each $item, $value in $items-and-values {
  .#{$prefix}items-#{$item} {
    align-items: $value;
  }

  .#{$prefix}self-#{$item} {
    align-self: $value;
  }
}

$contents-and-values: (
  (start, flex-start) 
  (end, flex-end)
  (center, center)
  (stretch, stretch)
  (between, space-between)
  (around, space-around)
) !default;

@each $content, $value in $contents-and-values {
  .#{$prefix}content-#{$content} {
    align-content: $value;
  }
} 

@each $bname, $breakpoint in $breakpoints {
  @media(min-width: $breakpoint) {

    .#{$bname}\:#{$prefix}flex {
      display:flex;

      @each $direction in (row, column) {
        &-#{$direction} {
          flex-direction: $direction;

          &-reverse {
            flex-direction: $direction + -reverse;
          }
        }
      }

      @each $value in (wrap, wrap-reverse, nowrap) {
        &-#{$value} {
          flex-wrap: $value;
        }
      }
    }

    @each $justify, $value in $justifys-and-values {
      .#{$bname}\:#{$prefix}justify-#{$justify} {
        justify-content: $value;
      }
    } 

    @each $item, $value in $items-and-values {
      .#{$bname}\:#{$prefix}items-#{$item} {
        align-items: $value;
      }

      .#{$bname}\:#{$prefix}self-#{$item} {
        align-self: $value;
      }
    }

    @each $content, $value in $contents-and-values {
      .#{$bname}\:#{$prefix}content-#{$content} {
        align-content: $value;
      }
    } 
  }
}
