.#{$prefix}float {
  @each $value in (right, left, none) {
    &-#{$value} {
      float: $value;
    }
  }
}
.#{$prefix}clearfix:after {
  content: "";
  display: table;
  clear: both;
}
@each $bname, $breakpoint in $breakpoints {
  @media(min-width: $breakpoint) {
    .#{$prefix}#{$bname}\:float {
      @each $value in (right, left, none) {
        &-#{$value} {
          float: $value;
        }
      }
    }
    .#{$prefix}#{$bname}\:clearfix:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}