// ensure that the browser supports it
@supports(grid-area:auto) {
  .#{$prefix}grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  @each $bname, $breakpoint in $breakpoints {
    @media(min-width: $breakpoint) {
      .#{$prefix}#{$bname}\:grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
      }
    }
  }

  @for $n from 1 through 12 {
    .#{$prefix}has-#{$n}-columns {
      grid-template-columns: repeat($n, 1fr);
    }
    .#{$prefix}has-#{$n}-rows {
      grid-template-rows: repeat($n, 1fr);
    }

    .#{$prefix}column-gap-#{$n*5} {
      grid-column-gap: $n*5px;
    }
    .#{$prefix}row-gap-#{$n*5} {
      grid-row-gap: $n*5px;
    }

    //grid items
    .#{$prefix}column-start-#{$n} {
      grid-column-start: $n;
    }
    .#{$prefix}column-end-#{$n} {
      grid-column-end: $n+1;
    }
    .#{$prefix}column-span-#{$n} {
      grid-column-end: span $n;
    }
    .#{$prefix}row-start-#{$n} {
      grid-row-start: $n;
    }
    .#{$prefix}row-end-#{$n} {
      grid-row-end: $n+1;
    }
    .#{$prefix}row-span-#{$n} {
      grid-row-end: span $n;
    }
  }

  @each $value in (start, end, center, stretch) {
    .#{$prefix}justify-items-#{$value} {
      justify-items: $value;
    }
    .#{$prefix}align-items-#{$value} {
      align-items: $value;
    }

    //grid items
    .#{$prefix}justify-self-#{$value} {
      justify-self: $value;
    }
    .#{$prefix}align-self-#{$value} {
      align-self: $value;
    }
  }

  @each $value in (start, end, center, stretch, space-around, space-between, space-evenly) {
    .#{$prefix}justify-content-#{$value} {
      justify-content: $value;
    }
    .#{$prefix}align-content-#{$value} {
      align-content: $value
    }
  }

  @each $direction in (row, column) {
    .#{$prefix}auto-flow-#{$direction} {
      grid-auto-flow: $direction;
    }
  }

  @each $bname, $breakpoint in $breakpoints {
    @media(min-width: $breakpoint) {
      @for $n from 1 through 12 {
        .#{$prefix}#{$bname}\:has-#{$n}-columns {
          grid-template-columns: repeat($n, 1fr);
        }
        .#{$prefix}#{$bname}\:has-#{$n}-rows {
          grid-template-rows: repeat($n, 1fr);
        }

        .#{$prefix}#{$bname}\:column-gap-#{$n*5} {
          grid-column-gap: $n*5px;
        }
        .#{$prefix}#{$bname}\:row-gap-#{$n*5} {
          grid-row-gap: $n*5px;
        }

        //grid items
        .#{$prefix}#{$bname}\:column-start-#{$n} {
          grid-column-start: $n;
        }
        .#{$prefix}#{$bname}\:column-end-#{$n} {
          grid-column-end: $n+1;
        }
        .#{$prefix}#{$bname}\:column-span-#{$n} {
          grid-column-end: span $n;
        }
        .#{$prefix}#{$bname}\:row-start-#{$n} {
          grid-row-start: $n;
        }
        .#{$prefix}#{$bname}\:row-end-#{$n} {
          grid-row-end: $n+1;
        }
        .#{$prefix}#{$bname}\:row-span-#{$n} {
          grid-row-end: span $n;
        }
      }

      @each $value in (start, end, center, stretch) {
        .#{$prefix}#{$bname}\:justify-items-#{$value} {
          justify-items: $value;
        }
        .#{$prefix}#{$bname}\:align-items-#{$value} {
          align-items: $value;
        }

        //grid items
        .#{$prefix}#{$bname}\:justify-self-#{$value} {
          justify-self: $value;
        }
        .#{$prefix}#{$bname}\:align-self-#{$value} {
          align-self: $value;
        }
      }

      @each $value in (start, end, center, stretch, space-around, space-between, space-evenly) {
        .#{$prefix}#{$bname}\:justify-content-#{$value} {
          justify-content: $value;
        }
        .#{$prefix}#{$bname}\:align-content-#{$value} {
          align-content: $value
        }
      }

      @each $direction in (row, column) {
        .#{$prefix}#{$bname}\:auto-flow-#{$direction} {
          grid-auto-flow: $direction;
        }
      }
    }
  }
}
