@include with-breakpoints() using ($prefix-with-bname) {
  .#{$prefix-with-bname}list {
    @each $value in (outside, inside) {
      &-#{$value} {
        list-style-position: $value;
      }
    }

    @each $value in (disc, circle, square, decimal, lower-alpha, upper-alpha, lower-roman, upper-roman) {
      &-#{$value} {
        list-style-type: $value;
      }
    }

    &-unstyled {
      list-style: none;
      padding:0;
    }
  }
}