@include with-breakpoints() using ($prefix-with-bname) {
  .#{$prefix-with-bname}text {
    @each $value in (center, left, right, justify) { 
      &-#{$value} {
        text-align: $value;
      }
    }

    @each $value in (underline, overline, line-through) {
      &-#{$value} {
        text-decoration: $value;
      }
    }

    @each $value in (capitalize, uppercase, lowercase) {
      &-#{$value} {
        text-transform: $value;
      }
    }
  }
}
