$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$measures: (
  vw: vw, 
  px: px, 
  vh: vh, 
  rem: rem, 
  em: em, 
  \%: "%"
) !default;

// "raisincss-" will make e.g. .flex class look like .raisincss-flex
$prefix: "" !default;
