@for $n from 0 through 5 {
  .#{$prefix}z-#{$n*10} {
    z-index: $n*10;
  }
}
.#{$prefix}z-auto {
  z-index: auto;
}
@each $bname, $breakpoint in $breakpoints {
  @media(min-width: $breakpoint) {
    @for $n from 0 through 5 {
      .#{$prefix}#{$bname}\:z-#{$n*10} {
        z-index: $n*10;
      }
    }
    .#{$prefix}#{$bname}\:z-auto {
      z-index: auto;
    }
  }
}