/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */
/**
 * 1. Prevent padding and border from affecting element width
 * https://goo.gl/pYtbK7
 * 2. Change the default font family in all browsers (opinionated)
 */
html {
  box-sizing: border-box;
  /* 1 */
  font-family: sans-serif;
  /* 2 */ }

*,
*::before,
*::after {
  box-sizing: inherit; }

/**
 * Removes the default spacing and border for appropriate elements.
 */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
  margin: 0; }

button {
  background: transparent;
  padding: 0; }

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

fieldset {
  margin: 0;
  padding: 0; }

ol,
ul {
  margin: 0; }

textarea {
  resize: vertical; }

img {
  max-width: 100%;
  height: auto; }

input::placeholder,
input::-ms-input-placeholder,
textarea::-ms-input-placeholder,
textarea::placeholder {
  color: inherit;
  opacity: .5; }

button,
[role="button"] {
  cursor: pointer; }

table {
  border-collapse: collapse; }

.container {
  width: 100%;
  margin: 0 auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }
  .container-fluid {
    min-width: 100%; }

@supports (grid-area: auto) {
  .is-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto; }

  @media (min-width: 576px) {
    .sm\:is-grid {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto; } }
  @media (min-width: 768px) {
    .md\:is-grid {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto; } }
  @media (min-width: 992px) {
    .lg\:is-grid {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto; } }
  @media (min-width: 1200px) {
    .xl\:is-grid {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto; } }
  .has-1-columns {
    grid-template-columns: repeat(1, 1fr); }

  .has-1-rows {
    grid-template-rows: repeat(1, 1fr); }

  .column-gap-5 {
    grid-column-gap: 5px; }

  .row-gap-5 {
    grid-row-gap: 5px; }

  .from-column-1 {
    grid-column-start: 1; }

  .to-column-1 {
    grid-column-end: 2; }

  .column-span-1 {
    grid-column-end: span 1; }

  .from-row-1 {
    grid-row-start: 1; }

  .to-row-1 {
    grid-row-end: 2; }

  .row-span-1 {
    grid-row-end: span 1; }

  .has-2-columns {
    grid-template-columns: repeat(2, 1fr); }

  .has-2-rows {
    grid-template-rows: repeat(2, 1fr); }

  .column-gap-10 {
    grid-column-gap: 10px; }

  .row-gap-10 {
    grid-row-gap: 10px; }

  .from-column-2 {
    grid-column-start: 2; }

  .to-column-2 {
    grid-column-end: 3; }

  .column-span-2 {
    grid-column-end: span 2; }

  .from-row-2 {
    grid-row-start: 2; }

  .to-row-2 {
    grid-row-end: 3; }

  .row-span-2 {
    grid-row-end: span 2; }

  .has-3-columns {
    grid-template-columns: repeat(3, 1fr); }

  .has-3-rows {
    grid-template-rows: repeat(3, 1fr); }

  .column-gap-15 {
    grid-column-gap: 15px; }

  .row-gap-15 {
    grid-row-gap: 15px; }

  .from-column-3 {
    grid-column-start: 3; }

  .to-column-3 {
    grid-column-end: 4; }

  .column-span-3 {
    grid-column-end: span 3; }

  .from-row-3 {
    grid-row-start: 3; }

  .to-row-3 {
    grid-row-end: 4; }

  .row-span-3 {
    grid-row-end: span 3; }

  .has-4-columns {
    grid-template-columns: repeat(4, 1fr); }

  .has-4-rows {
    grid-template-rows: repeat(4, 1fr); }

  .column-gap-20 {
    grid-column-gap: 20px; }

  .row-gap-20 {
    grid-row-gap: 20px; }

  .from-column-4 {
    grid-column-start: 4; }

  .to-column-4 {
    grid-column-end: 5; }

  .column-span-4 {
    grid-column-end: span 4; }

  .from-row-4 {
    grid-row-start: 4; }

  .to-row-4 {
    grid-row-end: 5; }

  .row-span-4 {
    grid-row-end: span 4; }

  .has-5-columns {
    grid-template-columns: repeat(5, 1fr); }

  .has-5-rows {
    grid-template-rows: repeat(5, 1fr); }

  .column-gap-25 {
    grid-column-gap: 25px; }

  .row-gap-25 {
    grid-row-gap: 25px; }

  .from-column-5 {
    grid-column-start: 5; }

  .to-column-5 {
    grid-column-end: 6; }

  .column-span-5 {
    grid-column-end: span 5; }

  .from-row-5 {
    grid-row-start: 5; }

  .to-row-5 {
    grid-row-end: 6; }

  .row-span-5 {
    grid-row-end: span 5; }

  .has-6-columns {
    grid-template-columns: repeat(6, 1fr); }

  .has-6-rows {
    grid-template-rows: repeat(6, 1fr); }

  .column-gap-30 {
    grid-column-gap: 30px; }

  .row-gap-30 {
    grid-row-gap: 30px; }

  .from-column-6 {
    grid-column-start: 6; }

  .to-column-6 {
    grid-column-end: 7; }

  .column-span-6 {
    grid-column-end: span 6; }

  .from-row-6 {
    grid-row-start: 6; }

  .to-row-6 {
    grid-row-end: 7; }

  .row-span-6 {
    grid-row-end: span 6; }

  .has-7-columns {
    grid-template-columns: repeat(7, 1fr); }

  .has-7-rows {
    grid-template-rows: repeat(7, 1fr); }

  .column-gap-35 {
    grid-column-gap: 35px; }

  .row-gap-35 {
    grid-row-gap: 35px; }

  .from-column-7 {
    grid-column-start: 7; }

  .to-column-7 {
    grid-column-end: 8; }

  .column-span-7 {
    grid-column-end: span 7; }

  .from-row-7 {
    grid-row-start: 7; }

  .to-row-7 {
    grid-row-end: 8; }

  .row-span-7 {
    grid-row-end: span 7; }

  .has-8-columns {
    grid-template-columns: repeat(8, 1fr); }

  .has-8-rows {
    grid-template-rows: repeat(8, 1fr); }

  .column-gap-40 {
    grid-column-gap: 40px; }

  .row-gap-40 {
    grid-row-gap: 40px; }

  .from-column-8 {
    grid-column-start: 8; }

  .to-column-8 {
    grid-column-end: 9; }

  .column-span-8 {
    grid-column-end: span 8; }

  .from-row-8 {
    grid-row-start: 8; }

  .to-row-8 {
    grid-row-end: 9; }

  .row-span-8 {
    grid-row-end: span 8; }

  .has-9-columns {
    grid-template-columns: repeat(9, 1fr); }

  .has-9-rows {
    grid-template-rows: repeat(9, 1fr); }

  .column-gap-45 {
    grid-column-gap: 45px; }

  .row-gap-45 {
    grid-row-gap: 45px; }

  .from-column-9 {
    grid-column-start: 9; }

  .to-column-9 {
    grid-column-end: 10; }

  .column-span-9 {
    grid-column-end: span 9; }

  .from-row-9 {
    grid-row-start: 9; }

  .to-row-9 {
    grid-row-end: 10; }

  .row-span-9 {
    grid-row-end: span 9; }

  .has-10-columns {
    grid-template-columns: repeat(10, 1fr); }

  .has-10-rows {
    grid-template-rows: repeat(10, 1fr); }

  .column-gap-50 {
    grid-column-gap: 50px; }

  .row-gap-50 {
    grid-row-gap: 50px; }

  .from-column-10 {
    grid-column-start: 10; }

  .to-column-10 {
    grid-column-end: 11; }

  .column-span-10 {
    grid-column-end: span 10; }

  .from-row-10 {
    grid-row-start: 10; }

  .to-row-10 {
    grid-row-end: 11; }

  .row-span-10 {
    grid-row-end: span 10; }

  .has-11-columns {
    grid-template-columns: repeat(11, 1fr); }

  .has-11-rows {
    grid-template-rows: repeat(11, 1fr); }

  .column-gap-55 {
    grid-column-gap: 55px; }

  .row-gap-55 {
    grid-row-gap: 55px; }

  .from-column-11 {
    grid-column-start: 11; }

  .to-column-11 {
    grid-column-end: 12; }

  .column-span-11 {
    grid-column-end: span 11; }

  .from-row-11 {
    grid-row-start: 11; }

  .to-row-11 {
    grid-row-end: 12; }

  .row-span-11 {
    grid-row-end: span 11; }

  .has-12-columns {
    grid-template-columns: repeat(12, 1fr); }

  .has-12-rows {
    grid-template-rows: repeat(12, 1fr); }

  .column-gap-60 {
    grid-column-gap: 60px; }

  .row-gap-60 {
    grid-row-gap: 60px; }

  .from-column-12 {
    grid-column-start: 12; }

  .to-column-12 {
    grid-column-end: 13; }

  .column-span-12 {
    grid-column-end: span 12; }

  .from-row-12 {
    grid-row-start: 12; }

  .to-row-12 {
    grid-row-end: 13; }

  .row-span-12 {
    grid-row-end: span 12; }

  .justify-items-start {
    justify-items: start; }

  .align-items-start {
    align-items: start; }

  .justify-self-start {
    justify-self: start; }

  .align-self-start {
    align-self: start; }

  .justify-items-end {
    justify-items: end; }

  .align-items-end {
    align-items: end; }

  .justify-self-end {
    justify-self: end; }

  .align-self-end {
    align-self: end; }

  .justify-items-center {
    justify-items: center; }

  .align-items-center {
    align-items: center; }

  .justify-self-center {
    justify-self: center; }

  .align-self-center {
    align-self: center; }

  .justify-items-stretch {
    justify-items: stretch; }

  .align-items-stretch {
    align-items: stretch; }

  .justify-self-stretch {
    justify-self: stretch; }

  .align-self-stretch {
    align-self: stretch; }

  .justify-content-start {
    justify-content: start; }

  .align-content-start {
    align-content: start; }

  .justify-content-end {
    justify-content: end; }

  .align-content-end {
    align-content: end; }

  .justify-content-center {
    justify-content: center; }

  .align-content-center {
    align-content: center; }

  .justify-content-stretch {
    justify-content: stretch; }

  .align-content-stretch {
    align-content: stretch; }

  .justify-content-space-around {
    justify-content: space-around; }

  .align-content-space-around {
    align-content: space-around; }

  .justify-content-space-between {
    justify-content: space-between; }

  .align-content-space-between {
    align-content: space-between; }

  .justify-content-space-evenly {
    justify-content: space-evenly; }

  .align-content-space-evenly {
    align-content: space-evenly; }

  .auto-flow-row {
    grid-auto-flow: row; }

  .auto-flow-column {
    grid-auto-flow: column; }

  @media (min-width: 576px) {
    .sm\:has-1-columns {
      grid-template-columns: repeat(1, 1fr); }

    .sm\:has-1-rows {
      grid-template-rows: repeat(1, 1fr); }

    .sm\:column-gap-5 {
      grid-column-gap: 5px; }

    .sm\:row-gap-5 {
      grid-row-gap: 5px; }

    .sm\:from-column-1 {
      grid-column-start: 1; }

    .sm\:to-column-1 {
      grid-column-end: 2; }

    .sm\:column-span-1 {
      grid-column-end: span 1; }

    .sm\:from-row-1 {
      grid-row-start: 1; }

    .sm\:to-row-1 {
      grid-row-end: 2; }

    .sm\:row-span-1 {
      grid-row-end: span 1; }

    .sm\:has-2-columns {
      grid-template-columns: repeat(2, 1fr); }

    .sm\:has-2-rows {
      grid-template-rows: repeat(2, 1fr); }

    .sm\:column-gap-10 {
      grid-column-gap: 10px; }

    .sm\:row-gap-10 {
      grid-row-gap: 10px; }

    .sm\:from-column-2 {
      grid-column-start: 2; }

    .sm\:to-column-2 {
      grid-column-end: 3; }

    .sm\:column-span-2 {
      grid-column-end: span 2; }

    .sm\:from-row-2 {
      grid-row-start: 2; }

    .sm\:to-row-2 {
      grid-row-end: 3; }

    .sm\:row-span-2 {
      grid-row-end: span 2; }

    .sm\:has-3-columns {
      grid-template-columns: repeat(3, 1fr); }

    .sm\:has-3-rows {
      grid-template-rows: repeat(3, 1fr); }

    .sm\:column-gap-15 {
      grid-column-gap: 15px; }

    .sm\:row-gap-15 {
      grid-row-gap: 15px; }

    .sm\:from-column-3 {
      grid-column-start: 3; }

    .sm\:to-column-3 {
      grid-column-end: 4; }

    .sm\:column-span-3 {
      grid-column-end: span 3; }

    .sm\:from-row-3 {
      grid-row-start: 3; }

    .sm\:to-row-3 {
      grid-row-end: 4; }

    .sm\:row-span-3 {
      grid-row-end: span 3; }

    .sm\:has-4-columns {
      grid-template-columns: repeat(4, 1fr); }

    .sm\:has-4-rows {
      grid-template-rows: repeat(4, 1fr); }

    .sm\:column-gap-20 {
      grid-column-gap: 20px; }

    .sm\:row-gap-20 {
      grid-row-gap: 20px; }

    .sm\:from-column-4 {
      grid-column-start: 4; }

    .sm\:to-column-4 {
      grid-column-end: 5; }

    .sm\:column-span-4 {
      grid-column-end: span 4; }

    .sm\:from-row-4 {
      grid-row-start: 4; }

    .sm\:to-row-4 {
      grid-row-end: 5; }

    .sm\:row-span-4 {
      grid-row-end: span 4; }

    .sm\:has-5-columns {
      grid-template-columns: repeat(5, 1fr); }

    .sm\:has-5-rows {
      grid-template-rows: repeat(5, 1fr); }

    .sm\:column-gap-25 {
      grid-column-gap: 25px; }

    .sm\:row-gap-25 {
      grid-row-gap: 25px; }

    .sm\:from-column-5 {
      grid-column-start: 5; }

    .sm\:to-column-5 {
      grid-column-end: 6; }

    .sm\:column-span-5 {
      grid-column-end: span 5; }

    .sm\:from-row-5 {
      grid-row-start: 5; }

    .sm\:to-row-5 {
      grid-row-end: 6; }

    .sm\:row-span-5 {
      grid-row-end: span 5; }

    .sm\:has-6-columns {
      grid-template-columns: repeat(6, 1fr); }

    .sm\:has-6-rows {
      grid-template-rows: repeat(6, 1fr); }

    .sm\:column-gap-30 {
      grid-column-gap: 30px; }

    .sm\:row-gap-30 {
      grid-row-gap: 30px; }

    .sm\:from-column-6 {
      grid-column-start: 6; }

    .sm\:to-column-6 {
      grid-column-end: 7; }

    .sm\:column-span-6 {
      grid-column-end: span 6; }

    .sm\:from-row-6 {
      grid-row-start: 6; }

    .sm\:to-row-6 {
      grid-row-end: 7; }

    .sm\:row-span-6 {
      grid-row-end: span 6; }

    .sm\:has-7-columns {
      grid-template-columns: repeat(7, 1fr); }

    .sm\:has-7-rows {
      grid-template-rows: repeat(7, 1fr); }

    .sm\:column-gap-35 {
      grid-column-gap: 35px; }

    .sm\:row-gap-35 {
      grid-row-gap: 35px; }

    .sm\:from-column-7 {
      grid-column-start: 7; }

    .sm\:to-column-7 {
      grid-column-end: 8; }

    .sm\:column-span-7 {
      grid-column-end: span 7; }

    .sm\:from-row-7 {
      grid-row-start: 7; }

    .sm\:to-row-7 {
      grid-row-end: 8; }

    .sm\:row-span-7 {
      grid-row-end: span 7; }

    .sm\:has-8-columns {
      grid-template-columns: repeat(8, 1fr); }

    .sm\:has-8-rows {
      grid-template-rows: repeat(8, 1fr); }

    .sm\:column-gap-40 {
      grid-column-gap: 40px; }

    .sm\:row-gap-40 {
      grid-row-gap: 40px; }

    .sm\:from-column-8 {
      grid-column-start: 8; }

    .sm\:to-column-8 {
      grid-column-end: 9; }

    .sm\:column-span-8 {
      grid-column-end: span 8; }

    .sm\:from-row-8 {
      grid-row-start: 8; }

    .sm\:to-row-8 {
      grid-row-end: 9; }

    .sm\:row-span-8 {
      grid-row-end: span 8; }

    .sm\:has-9-columns {
      grid-template-columns: repeat(9, 1fr); }

    .sm\:has-9-rows {
      grid-template-rows: repeat(9, 1fr); }

    .sm\:column-gap-45 {
      grid-column-gap: 45px; }

    .sm\:row-gap-45 {
      grid-row-gap: 45px; }

    .sm\:from-column-9 {
      grid-column-start: 9; }

    .sm\:to-column-9 {
      grid-column-end: 10; }

    .sm\:column-span-9 {
      grid-column-end: span 9; }

    .sm\:from-row-9 {
      grid-row-start: 9; }

    .sm\:to-row-9 {
      grid-row-end: 10; }

    .sm\:row-span-9 {
      grid-row-end: span 9; }

    .sm\:has-10-columns {
      grid-template-columns: repeat(10, 1fr); }

    .sm\:has-10-rows {
      grid-template-rows: repeat(10, 1fr); }

    .sm\:column-gap-50 {
      grid-column-gap: 50px; }

    .sm\:row-gap-50 {
      grid-row-gap: 50px; }

    .sm\:from-column-10 {
      grid-column-start: 10; }

    .sm\:to-column-10 {
      grid-column-end: 11; }

    .sm\:column-span-10 {
      grid-column-end: span 10; }

    .sm\:from-row-10 {
      grid-row-start: 10; }

    .sm\:to-row-10 {
      grid-row-end: 11; }

    .sm\:row-span-10 {
      grid-row-end: span 10; }

    .sm\:has-11-columns {
      grid-template-columns: repeat(11, 1fr); }

    .sm\:has-11-rows {
      grid-template-rows: repeat(11, 1fr); }

    .sm\:column-gap-55 {
      grid-column-gap: 55px; }

    .sm\:row-gap-55 {
      grid-row-gap: 55px; }

    .sm\:from-column-11 {
      grid-column-start: 11; }

    .sm\:to-column-11 {
      grid-column-end: 12; }

    .sm\:column-span-11 {
      grid-column-end: span 11; }

    .sm\:from-row-11 {
      grid-row-start: 11; }

    .sm\:to-row-11 {
      grid-row-end: 12; }

    .sm\:row-span-11 {
      grid-row-end: span 11; }

    .sm\:has-12-columns {
      grid-template-columns: repeat(12, 1fr); }

    .sm\:has-12-rows {
      grid-template-rows: repeat(12, 1fr); }

    .sm\:column-gap-60 {
      grid-column-gap: 60px; }

    .sm\:row-gap-60 {
      grid-row-gap: 60px; }

    .sm\:from-column-12 {
      grid-column-start: 12; }

    .sm\:to-column-12 {
      grid-column-end: 13; }

    .sm\:column-span-12 {
      grid-column-end: span 12; }

    .sm\:from-row-12 {
      grid-row-start: 12; }

    .sm\:to-row-12 {
      grid-row-end: 13; }

    .sm\:row-span-12 {
      grid-row-end: span 12; }

    .sm\:justify-items-start {
      justify-items: start; }

    .sm\:align-items-start {
      align-items: start; }

    .sm\:justify-self-start {
      justify-self: start; }

    .sm\:align-self-start {
      align-self: start; }

    .sm\:justify-items-end {
      justify-items: end; }

    .sm\:align-items-end {
      align-items: end; }

    .sm\:justify-self-end {
      justify-self: end; }

    .sm\:align-self-end {
      align-self: end; }

    .sm\:justify-items-center {
      justify-items: center; }

    .sm\:align-items-center {
      align-items: center; }

    .sm\:justify-self-center {
      justify-self: center; }

    .sm\:align-self-center {
      align-self: center; }

    .sm\:justify-items-stretch {
      justify-items: stretch; }

    .sm\:align-items-stretch {
      align-items: stretch; }

    .sm\:justify-self-stretch {
      justify-self: stretch; }

    .sm\:align-self-stretch {
      align-self: stretch; }

    .sm\:justify-content-start {
      justify-content: start; }

    .sm\:align-content-start {
      align-content: start; }

    .sm\:justify-content-end {
      justify-content: end; }

    .sm\:align-content-end {
      align-content: end; }

    .sm\:justify-content-center {
      justify-content: center; }

    .sm\:align-content-center {
      align-content: center; }

    .sm\:justify-content-stretch {
      justify-content: stretch; }

    .sm\:align-content-stretch {
      align-content: stretch; }

    .sm\:justify-content-space-around {
      justify-content: space-around; }

    .sm\:align-content-space-around {
      align-content: space-around; }

    .sm\:justify-content-space-between {
      justify-content: space-between; }

    .sm\:align-content-space-between {
      align-content: space-between; }

    .sm\:justify-content-space-evenly {
      justify-content: space-evenly; }

    .sm\:align-content-space-evenly {
      align-content: space-evenly; }

    .sm\:auto-flow-row {
      grid-auto-flow: row; }

    .sm\:auto-flow-column {
      grid-auto-flow: column; } }
  @media (min-width: 768px) {
    .md\:has-1-columns {
      grid-template-columns: repeat(1, 1fr); }

    .md\:has-1-rows {
      grid-template-rows: repeat(1, 1fr); }

    .md\:column-gap-5 {
      grid-column-gap: 5px; }

    .md\:row-gap-5 {
      grid-row-gap: 5px; }

    .md\:from-column-1 {
      grid-column-start: 1; }

    .md\:to-column-1 {
      grid-column-end: 2; }

    .md\:column-span-1 {
      grid-column-end: span 1; }

    .md\:from-row-1 {
      grid-row-start: 1; }

    .md\:to-row-1 {
      grid-row-end: 2; }

    .md\:row-span-1 {
      grid-row-end: span 1; }

    .md\:has-2-columns {
      grid-template-columns: repeat(2, 1fr); }

    .md\:has-2-rows {
      grid-template-rows: repeat(2, 1fr); }

    .md\:column-gap-10 {
      grid-column-gap: 10px; }

    .md\:row-gap-10 {
      grid-row-gap: 10px; }

    .md\:from-column-2 {
      grid-column-start: 2; }

    .md\:to-column-2 {
      grid-column-end: 3; }

    .md\:column-span-2 {
      grid-column-end: span 2; }

    .md\:from-row-2 {
      grid-row-start: 2; }

    .md\:to-row-2 {
      grid-row-end: 3; }

    .md\:row-span-2 {
      grid-row-end: span 2; }

    .md\:has-3-columns {
      grid-template-columns: repeat(3, 1fr); }

    .md\:has-3-rows {
      grid-template-rows: repeat(3, 1fr); }

    .md\:column-gap-15 {
      grid-column-gap: 15px; }

    .md\:row-gap-15 {
      grid-row-gap: 15px; }

    .md\:from-column-3 {
      grid-column-start: 3; }

    .md\:to-column-3 {
      grid-column-end: 4; }

    .md\:column-span-3 {
      grid-column-end: span 3; }

    .md\:from-row-3 {
      grid-row-start: 3; }

    .md\:to-row-3 {
      grid-row-end: 4; }

    .md\:row-span-3 {
      grid-row-end: span 3; }

    .md\:has-4-columns {
      grid-template-columns: repeat(4, 1fr); }

    .md\:has-4-rows {
      grid-template-rows: repeat(4, 1fr); }

    .md\:column-gap-20 {
      grid-column-gap: 20px; }

    .md\:row-gap-20 {
      grid-row-gap: 20px; }

    .md\:from-column-4 {
      grid-column-start: 4; }

    .md\:to-column-4 {
      grid-column-end: 5; }

    .md\:column-span-4 {
      grid-column-end: span 4; }

    .md\:from-row-4 {
      grid-row-start: 4; }

    .md\:to-row-4 {
      grid-row-end: 5; }

    .md\:row-span-4 {
      grid-row-end: span 4; }

    .md\:has-5-columns {
      grid-template-columns: repeat(5, 1fr); }

    .md\:has-5-rows {
      grid-template-rows: repeat(5, 1fr); }

    .md\:column-gap-25 {
      grid-column-gap: 25px; }

    .md\:row-gap-25 {
      grid-row-gap: 25px; }

    .md\:from-column-5 {
      grid-column-start: 5; }

    .md\:to-column-5 {
      grid-column-end: 6; }

    .md\:column-span-5 {
      grid-column-end: span 5; }

    .md\:from-row-5 {
      grid-row-start: 5; }

    .md\:to-row-5 {
      grid-row-end: 6; }

    .md\:row-span-5 {
      grid-row-end: span 5; }

    .md\:has-6-columns {
      grid-template-columns: repeat(6, 1fr); }

    .md\:has-6-rows {
      grid-template-rows: repeat(6, 1fr); }

    .md\:column-gap-30 {
      grid-column-gap: 30px; }

    .md\:row-gap-30 {
      grid-row-gap: 30px; }

    .md\:from-column-6 {
      grid-column-start: 6; }

    .md\:to-column-6 {
      grid-column-end: 7; }

    .md\:column-span-6 {
      grid-column-end: span 6; }

    .md\:from-row-6 {
      grid-row-start: 6; }

    .md\:to-row-6 {
      grid-row-end: 7; }

    .md\:row-span-6 {
      grid-row-end: span 6; }

    .md\:has-7-columns {
      grid-template-columns: repeat(7, 1fr); }

    .md\:has-7-rows {
      grid-template-rows: repeat(7, 1fr); }

    .md\:column-gap-35 {
      grid-column-gap: 35px; }

    .md\:row-gap-35 {
      grid-row-gap: 35px; }

    .md\:from-column-7 {
      grid-column-start: 7; }

    .md\:to-column-7 {
      grid-column-end: 8; }

    .md\:column-span-7 {
      grid-column-end: span 7; }

    .md\:from-row-7 {
      grid-row-start: 7; }

    .md\:to-row-7 {
      grid-row-end: 8; }

    .md\:row-span-7 {
      grid-row-end: span 7; }

    .md\:has-8-columns {
      grid-template-columns: repeat(8, 1fr); }

    .md\:has-8-rows {
      grid-template-rows: repeat(8, 1fr); }

    .md\:column-gap-40 {
      grid-column-gap: 40px; }

    .md\:row-gap-40 {
      grid-row-gap: 40px; }

    .md\:from-column-8 {
      grid-column-start: 8; }

    .md\:to-column-8 {
      grid-column-end: 9; }

    .md\:column-span-8 {
      grid-column-end: span 8; }

    .md\:from-row-8 {
      grid-row-start: 8; }

    .md\:to-row-8 {
      grid-row-end: 9; }

    .md\:row-span-8 {
      grid-row-end: span 8; }

    .md\:has-9-columns {
      grid-template-columns: repeat(9, 1fr); }

    .md\:has-9-rows {
      grid-template-rows: repeat(9, 1fr); }

    .md\:column-gap-45 {
      grid-column-gap: 45px; }

    .md\:row-gap-45 {
      grid-row-gap: 45px; }

    .md\:from-column-9 {
      grid-column-start: 9; }

    .md\:to-column-9 {
      grid-column-end: 10; }

    .md\:column-span-9 {
      grid-column-end: span 9; }

    .md\:from-row-9 {
      grid-row-start: 9; }

    .md\:to-row-9 {
      grid-row-end: 10; }

    .md\:row-span-9 {
      grid-row-end: span 9; }

    .md\:has-10-columns {
      grid-template-columns: repeat(10, 1fr); }

    .md\:has-10-rows {
      grid-template-rows: repeat(10, 1fr); }

    .md\:column-gap-50 {
      grid-column-gap: 50px; }

    .md\:row-gap-50 {
      grid-row-gap: 50px; }

    .md\:from-column-10 {
      grid-column-start: 10; }

    .md\:to-column-10 {
      grid-column-end: 11; }

    .md\:column-span-10 {
      grid-column-end: span 10; }

    .md\:from-row-10 {
      grid-row-start: 10; }

    .md\:to-row-10 {
      grid-row-end: 11; }

    .md\:row-span-10 {
      grid-row-end: span 10; }

    .md\:has-11-columns {
      grid-template-columns: repeat(11, 1fr); }

    .md\:has-11-rows {
      grid-template-rows: repeat(11, 1fr); }

    .md\:column-gap-55 {
      grid-column-gap: 55px; }

    .md\:row-gap-55 {
      grid-row-gap: 55px; }

    .md\:from-column-11 {
      grid-column-start: 11; }

    .md\:to-column-11 {
      grid-column-end: 12; }

    .md\:column-span-11 {
      grid-column-end: span 11; }

    .md\:from-row-11 {
      grid-row-start: 11; }

    .md\:to-row-11 {
      grid-row-end: 12; }

    .md\:row-span-11 {
      grid-row-end: span 11; }

    .md\:has-12-columns {
      grid-template-columns: repeat(12, 1fr); }

    .md\:has-12-rows {
      grid-template-rows: repeat(12, 1fr); }

    .md\:column-gap-60 {
      grid-column-gap: 60px; }

    .md\:row-gap-60 {
      grid-row-gap: 60px; }

    .md\:from-column-12 {
      grid-column-start: 12; }

    .md\:to-column-12 {
      grid-column-end: 13; }

    .md\:column-span-12 {
      grid-column-end: span 12; }

    .md\:from-row-12 {
      grid-row-start: 12; }

    .md\:to-row-12 {
      grid-row-end: 13; }

    .md\:row-span-12 {
      grid-row-end: span 12; }

    .md\:justify-items-start {
      justify-items: start; }

    .md\:align-items-start {
      align-items: start; }

    .md\:justify-self-start {
      justify-self: start; }

    .md\:align-self-start {
      align-self: start; }

    .md\:justify-items-end {
      justify-items: end; }

    .md\:align-items-end {
      align-items: end; }

    .md\:justify-self-end {
      justify-self: end; }

    .md\:align-self-end {
      align-self: end; }

    .md\:justify-items-center {
      justify-items: center; }

    .md\:align-items-center {
      align-items: center; }

    .md\:justify-self-center {
      justify-self: center; }

    .md\:align-self-center {
      align-self: center; }

    .md\:justify-items-stretch {
      justify-items: stretch; }

    .md\:align-items-stretch {
      align-items: stretch; }

    .md\:justify-self-stretch {
      justify-self: stretch; }

    .md\:align-self-stretch {
      align-self: stretch; }

    .md\:justify-content-start {
      justify-content: start; }

    .md\:align-content-start {
      align-content: start; }

    .md\:justify-content-end {
      justify-content: end; }

    .md\:align-content-end {
      align-content: end; }

    .md\:justify-content-center {
      justify-content: center; }

    .md\:align-content-center {
      align-content: center; }

    .md\:justify-content-stretch {
      justify-content: stretch; }

    .md\:align-content-stretch {
      align-content: stretch; }

    .md\:justify-content-space-around {
      justify-content: space-around; }

    .md\:align-content-space-around {
      align-content: space-around; }

    .md\:justify-content-space-between {
      justify-content: space-between; }

    .md\:align-content-space-between {
      align-content: space-between; }

    .md\:justify-content-space-evenly {
      justify-content: space-evenly; }

    .md\:align-content-space-evenly {
      align-content: space-evenly; }

    .md\:auto-flow-row {
      grid-auto-flow: row; }

    .md\:auto-flow-column {
      grid-auto-flow: column; } }
  @media (min-width: 992px) {
    .lg\:has-1-columns {
      grid-template-columns: repeat(1, 1fr); }

    .lg\:has-1-rows {
      grid-template-rows: repeat(1, 1fr); }

    .lg\:column-gap-5 {
      grid-column-gap: 5px; }

    .lg\:row-gap-5 {
      grid-row-gap: 5px; }

    .lg\:from-column-1 {
      grid-column-start: 1; }

    .lg\:to-column-1 {
      grid-column-end: 2; }

    .lg\:column-span-1 {
      grid-column-end: span 1; }

    .lg\:from-row-1 {
      grid-row-start: 1; }

    .lg\:to-row-1 {
      grid-row-end: 2; }

    .lg\:row-span-1 {
      grid-row-end: span 1; }

    .lg\:has-2-columns {
      grid-template-columns: repeat(2, 1fr); }

    .lg\:has-2-rows {
      grid-template-rows: repeat(2, 1fr); }

    .lg\:column-gap-10 {
      grid-column-gap: 10px; }

    .lg\:row-gap-10 {
      grid-row-gap: 10px; }

    .lg\:from-column-2 {
      grid-column-start: 2; }

    .lg\:to-column-2 {
      grid-column-end: 3; }

    .lg\:column-span-2 {
      grid-column-end: span 2; }

    .lg\:from-row-2 {
      grid-row-start: 2; }

    .lg\:to-row-2 {
      grid-row-end: 3; }

    .lg\:row-span-2 {
      grid-row-end: span 2; }

    .lg\:has-3-columns {
      grid-template-columns: repeat(3, 1fr); }

    .lg\:has-3-rows {
      grid-template-rows: repeat(3, 1fr); }

    .lg\:column-gap-15 {
      grid-column-gap: 15px; }

    .lg\:row-gap-15 {
      grid-row-gap: 15px; }

    .lg\:from-column-3 {
      grid-column-start: 3; }

    .lg\:to-column-3 {
      grid-column-end: 4; }

    .lg\:column-span-3 {
      grid-column-end: span 3; }

    .lg\:from-row-3 {
      grid-row-start: 3; }

    .lg\:to-row-3 {
      grid-row-end: 4; }

    .lg\:row-span-3 {
      grid-row-end: span 3; }

    .lg\:has-4-columns {
      grid-template-columns: repeat(4, 1fr); }

    .lg\:has-4-rows {
      grid-template-rows: repeat(4, 1fr); }

    .lg\:column-gap-20 {
      grid-column-gap: 20px; }

    .lg\:row-gap-20 {
      grid-row-gap: 20px; }

    .lg\:from-column-4 {
      grid-column-start: 4; }

    .lg\:to-column-4 {
      grid-column-end: 5; }

    .lg\:column-span-4 {
      grid-column-end: span 4; }

    .lg\:from-row-4 {
      grid-row-start: 4; }

    .lg\:to-row-4 {
      grid-row-end: 5; }

    .lg\:row-span-4 {
      grid-row-end: span 4; }

    .lg\:has-5-columns {
      grid-template-columns: repeat(5, 1fr); }

    .lg\:has-5-rows {
      grid-template-rows: repeat(5, 1fr); }

    .lg\:column-gap-25 {
      grid-column-gap: 25px; }

    .lg\:row-gap-25 {
      grid-row-gap: 25px; }

    .lg\:from-column-5 {
      grid-column-start: 5; }

    .lg\:to-column-5 {
      grid-column-end: 6; }

    .lg\:column-span-5 {
      grid-column-end: span 5; }

    .lg\:from-row-5 {
      grid-row-start: 5; }

    .lg\:to-row-5 {
      grid-row-end: 6; }

    .lg\:row-span-5 {
      grid-row-end: span 5; }

    .lg\:has-6-columns {
      grid-template-columns: repeat(6, 1fr); }

    .lg\:has-6-rows {
      grid-template-rows: repeat(6, 1fr); }

    .lg\:column-gap-30 {
      grid-column-gap: 30px; }

    .lg\:row-gap-30 {
      grid-row-gap: 30px; }

    .lg\:from-column-6 {
      grid-column-start: 6; }

    .lg\:to-column-6 {
      grid-column-end: 7; }

    .lg\:column-span-6 {
      grid-column-end: span 6; }

    .lg\:from-row-6 {
      grid-row-start: 6; }

    .lg\:to-row-6 {
      grid-row-end: 7; }

    .lg\:row-span-6 {
      grid-row-end: span 6; }

    .lg\:has-7-columns {
      grid-template-columns: repeat(7, 1fr); }

    .lg\:has-7-rows {
      grid-template-rows: repeat(7, 1fr); }

    .lg\:column-gap-35 {
      grid-column-gap: 35px; }

    .lg\:row-gap-35 {
      grid-row-gap: 35px; }

    .lg\:from-column-7 {
      grid-column-start: 7; }

    .lg\:to-column-7 {
      grid-column-end: 8; }

    .lg\:column-span-7 {
      grid-column-end: span 7; }

    .lg\:from-row-7 {
      grid-row-start: 7; }

    .lg\:to-row-7 {
      grid-row-end: 8; }

    .lg\:row-span-7 {
      grid-row-end: span 7; }

    .lg\:has-8-columns {
      grid-template-columns: repeat(8, 1fr); }

    .lg\:has-8-rows {
      grid-template-rows: repeat(8, 1fr); }

    .lg\:column-gap-40 {
      grid-column-gap: 40px; }

    .lg\:row-gap-40 {
      grid-row-gap: 40px; }

    .lg\:from-column-8 {
      grid-column-start: 8; }

    .lg\:to-column-8 {
      grid-column-end: 9; }

    .lg\:column-span-8 {
      grid-column-end: span 8; }

    .lg\:from-row-8 {
      grid-row-start: 8; }

    .lg\:to-row-8 {
      grid-row-end: 9; }

    .lg\:row-span-8 {
      grid-row-end: span 8; }

    .lg\:has-9-columns {
      grid-template-columns: repeat(9, 1fr); }

    .lg\:has-9-rows {
      grid-template-rows: repeat(9, 1fr); }

    .lg\:column-gap-45 {
      grid-column-gap: 45px; }

    .lg\:row-gap-45 {
      grid-row-gap: 45px; }

    .lg\:from-column-9 {
      grid-column-start: 9; }

    .lg\:to-column-9 {
      grid-column-end: 10; }

    .lg\:column-span-9 {
      grid-column-end: span 9; }

    .lg\:from-row-9 {
      grid-row-start: 9; }

    .lg\:to-row-9 {
      grid-row-end: 10; }

    .lg\:row-span-9 {
      grid-row-end: span 9; }

    .lg\:has-10-columns {
      grid-template-columns: repeat(10, 1fr); }

    .lg\:has-10-rows {
      grid-template-rows: repeat(10, 1fr); }

    .lg\:column-gap-50 {
      grid-column-gap: 50px; }

    .lg\:row-gap-50 {
      grid-row-gap: 50px; }

    .lg\:from-column-10 {
      grid-column-start: 10; }

    .lg\:to-column-10 {
      grid-column-end: 11; }

    .lg\:column-span-10 {
      grid-column-end: span 10; }

    .lg\:from-row-10 {
      grid-row-start: 10; }

    .lg\:to-row-10 {
      grid-row-end: 11; }

    .lg\:row-span-10 {
      grid-row-end: span 10; }

    .lg\:has-11-columns {
      grid-template-columns: repeat(11, 1fr); }

    .lg\:has-11-rows {
      grid-template-rows: repeat(11, 1fr); }

    .lg\:column-gap-55 {
      grid-column-gap: 55px; }

    .lg\:row-gap-55 {
      grid-row-gap: 55px; }

    .lg\:from-column-11 {
      grid-column-start: 11; }

    .lg\:to-column-11 {
      grid-column-end: 12; }

    .lg\:column-span-11 {
      grid-column-end: span 11; }

    .lg\:from-row-11 {
      grid-row-start: 11; }

    .lg\:to-row-11 {
      grid-row-end: 12; }

    .lg\:row-span-11 {
      grid-row-end: span 11; }

    .lg\:has-12-columns {
      grid-template-columns: repeat(12, 1fr); }

    .lg\:has-12-rows {
      grid-template-rows: repeat(12, 1fr); }

    .lg\:column-gap-60 {
      grid-column-gap: 60px; }

    .lg\:row-gap-60 {
      grid-row-gap: 60px; }

    .lg\:from-column-12 {
      grid-column-start: 12; }

    .lg\:to-column-12 {
      grid-column-end: 13; }

    .lg\:column-span-12 {
      grid-column-end: span 12; }

    .lg\:from-row-12 {
      grid-row-start: 12; }

    .lg\:to-row-12 {
      grid-row-end: 13; }

    .lg\:row-span-12 {
      grid-row-end: span 12; }

    .lg\:justify-items-start {
      justify-items: start; }

    .lg\:align-items-start {
      align-items: start; }

    .lg\:justify-self-start {
      justify-self: start; }

    .lg\:align-self-start {
      align-self: start; }

    .lg\:justify-items-end {
      justify-items: end; }

    .lg\:align-items-end {
      align-items: end; }

    .lg\:justify-self-end {
      justify-self: end; }

    .lg\:align-self-end {
      align-self: end; }

    .lg\:justify-items-center {
      justify-items: center; }

    .lg\:align-items-center {
      align-items: center; }

    .lg\:justify-self-center {
      justify-self: center; }

    .lg\:align-self-center {
      align-self: center; }

    .lg\:justify-items-stretch {
      justify-items: stretch; }

    .lg\:align-items-stretch {
      align-items: stretch; }

    .lg\:justify-self-stretch {
      justify-self: stretch; }

    .lg\:align-self-stretch {
      align-self: stretch; }

    .lg\:justify-content-start {
      justify-content: start; }

    .lg\:align-content-start {
      align-content: start; }

    .lg\:justify-content-end {
      justify-content: end; }

    .lg\:align-content-end {
      align-content: end; }

    .lg\:justify-content-center {
      justify-content: center; }

    .lg\:align-content-center {
      align-content: center; }

    .lg\:justify-content-stretch {
      justify-content: stretch; }

    .lg\:align-content-stretch {
      align-content: stretch; }

    .lg\:justify-content-space-around {
      justify-content: space-around; }

    .lg\:align-content-space-around {
      align-content: space-around; }

    .lg\:justify-content-space-between {
      justify-content: space-between; }

    .lg\:align-content-space-between {
      align-content: space-between; }

    .lg\:justify-content-space-evenly {
      justify-content: space-evenly; }

    .lg\:align-content-space-evenly {
      align-content: space-evenly; }

    .lg\:auto-flow-row {
      grid-auto-flow: row; }

    .lg\:auto-flow-column {
      grid-auto-flow: column; } }
  @media (min-width: 1200px) {
    .xl\:has-1-columns {
      grid-template-columns: repeat(1, 1fr); }

    .xl\:has-1-rows {
      grid-template-rows: repeat(1, 1fr); }

    .xl\:column-gap-5 {
      grid-column-gap: 5px; }

    .xl\:row-gap-5 {
      grid-row-gap: 5px; }

    .xl\:from-column-1 {
      grid-column-start: 1; }

    .xl\:to-column-1 {
      grid-column-end: 2; }

    .xl\:column-span-1 {
      grid-column-end: span 1; }

    .xl\:from-row-1 {
      grid-row-start: 1; }

    .xl\:to-row-1 {
      grid-row-end: 2; }

    .xl\:row-span-1 {
      grid-row-end: span 1; }

    .xl\:has-2-columns {
      grid-template-columns: repeat(2, 1fr); }

    .xl\:has-2-rows {
      grid-template-rows: repeat(2, 1fr); }

    .xl\:column-gap-10 {
      grid-column-gap: 10px; }

    .xl\:row-gap-10 {
      grid-row-gap: 10px; }

    .xl\:from-column-2 {
      grid-column-start: 2; }

    .xl\:to-column-2 {
      grid-column-end: 3; }

    .xl\:column-span-2 {
      grid-column-end: span 2; }

    .xl\:from-row-2 {
      grid-row-start: 2; }

    .xl\:to-row-2 {
      grid-row-end: 3; }

    .xl\:row-span-2 {
      grid-row-end: span 2; }

    .xl\:has-3-columns {
      grid-template-columns: repeat(3, 1fr); }

    .xl\:has-3-rows {
      grid-template-rows: repeat(3, 1fr); }

    .xl\:column-gap-15 {
      grid-column-gap: 15px; }

    .xl\:row-gap-15 {
      grid-row-gap: 15px; }

    .xl\:from-column-3 {
      grid-column-start: 3; }

    .xl\:to-column-3 {
      grid-column-end: 4; }

    .xl\:column-span-3 {
      grid-column-end: span 3; }

    .xl\:from-row-3 {
      grid-row-start: 3; }

    .xl\:to-row-3 {
      grid-row-end: 4; }

    .xl\:row-span-3 {
      grid-row-end: span 3; }

    .xl\:has-4-columns {
      grid-template-columns: repeat(4, 1fr); }

    .xl\:has-4-rows {
      grid-template-rows: repeat(4, 1fr); }

    .xl\:column-gap-20 {
      grid-column-gap: 20px; }

    .xl\:row-gap-20 {
      grid-row-gap: 20px; }

    .xl\:from-column-4 {
      grid-column-start: 4; }

    .xl\:to-column-4 {
      grid-column-end: 5; }

    .xl\:column-span-4 {
      grid-column-end: span 4; }

    .xl\:from-row-4 {
      grid-row-start: 4; }

    .xl\:to-row-4 {
      grid-row-end: 5; }

    .xl\:row-span-4 {
      grid-row-end: span 4; }

    .xl\:has-5-columns {
      grid-template-columns: repeat(5, 1fr); }

    .xl\:has-5-rows {
      grid-template-rows: repeat(5, 1fr); }

    .xl\:column-gap-25 {
      grid-column-gap: 25px; }

    .xl\:row-gap-25 {
      grid-row-gap: 25px; }

    .xl\:from-column-5 {
      grid-column-start: 5; }

    .xl\:to-column-5 {
      grid-column-end: 6; }

    .xl\:column-span-5 {
      grid-column-end: span 5; }

    .xl\:from-row-5 {
      grid-row-start: 5; }

    .xl\:to-row-5 {
      grid-row-end: 6; }

    .xl\:row-span-5 {
      grid-row-end: span 5; }

    .xl\:has-6-columns {
      grid-template-columns: repeat(6, 1fr); }

    .xl\:has-6-rows {
      grid-template-rows: repeat(6, 1fr); }

    .xl\:column-gap-30 {
      grid-column-gap: 30px; }

    .xl\:row-gap-30 {
      grid-row-gap: 30px; }

    .xl\:from-column-6 {
      grid-column-start: 6; }

    .xl\:to-column-6 {
      grid-column-end: 7; }

    .xl\:column-span-6 {
      grid-column-end: span 6; }

    .xl\:from-row-6 {
      grid-row-start: 6; }

    .xl\:to-row-6 {
      grid-row-end: 7; }

    .xl\:row-span-6 {
      grid-row-end: span 6; }

    .xl\:has-7-columns {
      grid-template-columns: repeat(7, 1fr); }

    .xl\:has-7-rows {
      grid-template-rows: repeat(7, 1fr); }

    .xl\:column-gap-35 {
      grid-column-gap: 35px; }

    .xl\:row-gap-35 {
      grid-row-gap: 35px; }

    .xl\:from-column-7 {
      grid-column-start: 7; }

    .xl\:to-column-7 {
      grid-column-end: 8; }

    .xl\:column-span-7 {
      grid-column-end: span 7; }

    .xl\:from-row-7 {
      grid-row-start: 7; }

    .xl\:to-row-7 {
      grid-row-end: 8; }

    .xl\:row-span-7 {
      grid-row-end: span 7; }

    .xl\:has-8-columns {
      grid-template-columns: repeat(8, 1fr); }

    .xl\:has-8-rows {
      grid-template-rows: repeat(8, 1fr); }

    .xl\:column-gap-40 {
      grid-column-gap: 40px; }

    .xl\:row-gap-40 {
      grid-row-gap: 40px; }

    .xl\:from-column-8 {
      grid-column-start: 8; }

    .xl\:to-column-8 {
      grid-column-end: 9; }

    .xl\:column-span-8 {
      grid-column-end: span 8; }

    .xl\:from-row-8 {
      grid-row-start: 8; }

    .xl\:to-row-8 {
      grid-row-end: 9; }

    .xl\:row-span-8 {
      grid-row-end: span 8; }

    .xl\:has-9-columns {
      grid-template-columns: repeat(9, 1fr); }

    .xl\:has-9-rows {
      grid-template-rows: repeat(9, 1fr); }

    .xl\:column-gap-45 {
      grid-column-gap: 45px; }

    .xl\:row-gap-45 {
      grid-row-gap: 45px; }

    .xl\:from-column-9 {
      grid-column-start: 9; }

    .xl\:to-column-9 {
      grid-column-end: 10; }

    .xl\:column-span-9 {
      grid-column-end: span 9; }

    .xl\:from-row-9 {
      grid-row-start: 9; }

    .xl\:to-row-9 {
      grid-row-end: 10; }

    .xl\:row-span-9 {
      grid-row-end: span 9; }

    .xl\:has-10-columns {
      grid-template-columns: repeat(10, 1fr); }

    .xl\:has-10-rows {
      grid-template-rows: repeat(10, 1fr); }

    .xl\:column-gap-50 {
      grid-column-gap: 50px; }

    .xl\:row-gap-50 {
      grid-row-gap: 50px; }

    .xl\:from-column-10 {
      grid-column-start: 10; }

    .xl\:to-column-10 {
      grid-column-end: 11; }

    .xl\:column-span-10 {
      grid-column-end: span 10; }

    .xl\:from-row-10 {
      grid-row-start: 10; }

    .xl\:to-row-10 {
      grid-row-end: 11; }

    .xl\:row-span-10 {
      grid-row-end: span 10; }

    .xl\:has-11-columns {
      grid-template-columns: repeat(11, 1fr); }

    .xl\:has-11-rows {
      grid-template-rows: repeat(11, 1fr); }

    .xl\:column-gap-55 {
      grid-column-gap: 55px; }

    .xl\:row-gap-55 {
      grid-row-gap: 55px; }

    .xl\:from-column-11 {
      grid-column-start: 11; }

    .xl\:to-column-11 {
      grid-column-end: 12; }

    .xl\:column-span-11 {
      grid-column-end: span 11; }

    .xl\:from-row-11 {
      grid-row-start: 11; }

    .xl\:to-row-11 {
      grid-row-end: 12; }

    .xl\:row-span-11 {
      grid-row-end: span 11; }

    .xl\:has-12-columns {
      grid-template-columns: repeat(12, 1fr); }

    .xl\:has-12-rows {
      grid-template-rows: repeat(12, 1fr); }

    .xl\:column-gap-60 {
      grid-column-gap: 60px; }

    .xl\:row-gap-60 {
      grid-row-gap: 60px; }

    .xl\:from-column-12 {
      grid-column-start: 12; }

    .xl\:to-column-12 {
      grid-column-end: 13; }

    .xl\:column-span-12 {
      grid-column-end: span 12; }

    .xl\:from-row-12 {
      grid-row-start: 12; }

    .xl\:to-row-12 {
      grid-row-end: 13; }

    .xl\:row-span-12 {
      grid-row-end: span 12; }

    .xl\:justify-items-start {
      justify-items: start; }

    .xl\:align-items-start {
      align-items: start; }

    .xl\:justify-self-start {
      justify-self: start; }

    .xl\:align-self-start {
      align-self: start; }

    .xl\:justify-items-end {
      justify-items: end; }

    .xl\:align-items-end {
      align-items: end; }

    .xl\:justify-self-end {
      justify-self: end; }

    .xl\:align-self-end {
      align-self: end; }

    .xl\:justify-items-center {
      justify-items: center; }

    .xl\:align-items-center {
      align-items: center; }

    .xl\:justify-self-center {
      justify-self: center; }

    .xl\:align-self-center {
      align-self: center; }

    .xl\:justify-items-stretch {
      justify-items: stretch; }

    .xl\:align-items-stretch {
      align-items: stretch; }

    .xl\:justify-self-stretch {
      justify-self: stretch; }

    .xl\:align-self-stretch {
      align-self: stretch; }

    .xl\:justify-content-start {
      justify-content: start; }

    .xl\:align-content-start {
      align-content: start; }

    .xl\:justify-content-end {
      justify-content: end; }

    .xl\:align-content-end {
      align-content: end; }

    .xl\:justify-content-center {
      justify-content: center; }

    .xl\:align-content-center {
      align-content: center; }

    .xl\:justify-content-stretch {
      justify-content: stretch; }

    .xl\:align-content-stretch {
      align-content: stretch; }

    .xl\:justify-content-space-around {
      justify-content: space-around; }

    .xl\:align-content-space-around {
      align-content: space-around; }

    .xl\:justify-content-space-between {
      justify-content: space-between; }

    .xl\:align-content-space-between {
      align-content: space-between; }

    .xl\:justify-content-space-evenly {
      justify-content: space-evenly; }

    .xl\:align-content-space-evenly {
      align-content: space-evenly; }

    .xl\:auto-flow-row {
      grid-auto-flow: row; }

    .xl\:auto-flow-column {
      grid-auto-flow: column; } } }

/*# sourceMappingURL=styles.css.map */
